* {
  margin: revert;
}

.theme-container:before {
  content: '';
  position: absolute;
  height: 860px;
  width: 100%;
  // background-image: embedurl('../public/images/lowpoly-5k-hight-cell-size.png');
  // background-image: url('https://live.staticflickr.com/65535/50247461143_e9c5fc0f30_o.png');
  // background-repeat: unset;
  // background-size: cover;
  // background-image: linear-gradient(to left, #13547a 0%, #80d0c7 100%);
   background-image: linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );
  z-index: 1;
}

.theme-container {
  .home {
    max-width: 100%;
    margin-top: 0px;
    padding: 0;
  }

  .navbar {
    position: relative;
    border-bottom: 0px;
    background-color: transparent;
  }

  .site-name {
    display: none;
  }

  .page a {
    text-decoration: none !important;
  }

  // .search-box input {
  // background-color: transparent;
  // border: 1px solid white;
  // }
  .search-box {
    display: none;
  }

  .navbar .links {
    background-color: transparent;
  }

  .nav-item {
    color: white;
  }

  .nav-item>a:not(.external).router-link-active, .nav-item>a:not(.external):hover {
    border-bottom: unset;
  }

  .nav-item a.router-link-active, .nav-item > a:not(.external):hover {
    color: lightgray;
  }

  .nav-item > a:not(.external).router-link-active {
    border-bottom: 2px solid lightgray;
  }

  #main-title, .description {
    display: none;
  }

  .theme-default-content:not(.custom) {
    position: absolute;
    width: 100%;
    max-width: unset;
    background-color: white;
    z-index: 3;
  }

  .theme-default-content:not(.custom) > *:first-child {
    margin-top: 0px;
  }

  .sidebar {
    border-right: unset;
    box-shadow: -3px 0 27px 5px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to bottom, #13547a 0%, #80d0c7 100%);
    z-index: 9;

    .nav-links {
      border-bottom: unset;
    }
  }

  .sidebar-button {
    color: rgba(255, 255, 255, 0.8);
  }
}