.theme-container:before {
  content: '';
  position: absolute;
  height: 860px;
  width: 100%;
  // background-image: embedurl('../public/images/lowpoly-5k-hight-cell-size.png');
  
  background-image: url('https://live.staticflickr.com/65535/50247461143_e9c5fc0f30_o.png');
  background-repeat: unset;
  background-size: cover;
  z-index: 1;
}

.theme-container {
  .home {
    max-width: 100%;
    margin-top: 0px;
    padding: 0;
  }

  .navbar {
    position: relative;
    border-bottom: 0px;
    background-color: transparent;
  }

  .site-name {
    display: none;
  }

  // .search-box input {
  // background-color: transparent;
  // border: 1px solid white;
  // }
  .search-box {
    display: none;
  }

  .navbar .links {
    background-color: transparent;
  }

  .nav-item {
    color: white;
  }

  .nav-item a.router-link-active, .nav-item > a:not(.external):hover {
    color: lightgray;
  }

  .nav-item > a:not(.external).router-link-active {
    border-bottom: 2px solid lightgray;
  }

  #main-title, .description {
    display: none;
  }

  .theme-default-content:not(.custom) {
    position: fixed;
    width: 100%;
    height: -webkit-fill-available;
    max-width: unset;
    background-color: white;
    z-index: 10;
  }
}